.changecolour {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 55px;
    cursor: pointer;
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {background-color: var(--bg-color)};